<ion-header>
  <div class="sep1">
    <ion-toolbar style="width: 100%;height: 85px;" color=" azulito">
      <ion-buttons slot="start">
        <ion-back-button
        routerLink="/inicio"
        color="blanquito"
        text="Back"
        mode="ios">
        </ion-back-button>
      </ion-buttons>
      <ion-title ><p style="color: #2D4596;">RegistrApp</p><p><img src="assets/aaa1.jpg" alt="Logo" style="width:15%; position: absolute; top: 5%; right: 5%;"></p></ion-title>
    </ion-toolbar>
    </div>
    <div class="sep1">
    <ion-toolbar color=" azulito" style="width: 100%;height: 45px;left: 0px;top: 0px;padding-top: 0;">
      <ion-card-subtitle ><p style="text-align: center; top: -4px;" ><a href="https://www.duoc.cl/"><img src="assets/pngegg.png" alt="DUOCUC" style="width: 30%;" class="ion-image1" ></a></p></ion-card-subtitle>
    </ion-toolbar>
    </div>
    <div class="sep1">
    <ion-toolbar style="width: 100%;height: 34px;left: 0px;top: 0px;padding-top: 0;" color=" celestito">
      <ion-card-subtitle style=" top: -4px; padding-top: 0px;"><p style="text-align: start; color: black;">Inicio de Sesi&oacute;n de Alumno</p></ion-card-subtitle>
    </ion-toolbar>
    </div>
</ion-header>

<ion-content>
    <ion-toolbar style="width: 100%; height: 97.6%; padding-top: 5vw;" color=" bodycol">
      <!-- Aqui va el material de la pagina -->
      <form  #formulario="ngForm" >
        <ion-item style=" border-top-left-radius: 70%;border-top-right-radius: 70%; opacity: 65%; text-align: center;">
          <ion-label position="floating" color="primary" >Usuario: <ion-text color="danger">*</ion-text></ion-label>
          <ion-input color="blanquito" required type="text" required placeholder="Digite Usuario: " name="user" [(ngModel)]="usuario.user"></ion-input>
        </ion-item>
        <ion-item style=" border-bottom-left-radius: 70%;border-bottom-right-radius: 70%; opacity: 65%; text-align: center;">
          <ion-label  position="floating" color="primary" >Contraseña: <ion-text color="danger">*</ion-text></ion-label>
          <ion-input color="blanquito" required type="password" required placeholder="Digite Contraseña: " name="pass" [(ngModel)]="usuario.pass"></ion-input>
        </ion-item>
  
        <ion-button [disabled] =" formulario.invalid" expand="full" color="primary" type="submit" >
          Iniciar sesión
        </ion-button>
      </form>
      
    </ion-toolbar>
    <ion-toolbar style="width: 100%; height: 10px;" color=" celestito">
    </ion-toolbar>
</ion-content>
