.sep1{
    padding: 0.3vw;
    border-radius: 90%;
}
.sep2{
    padding: 5vw;
    border-radius: 90%;
}
.azulito{
    background-color: #B0E9FC;
}
.bodycol{
    background-color: #CCDADF;
}
.grupbot{
    position: sticky;
}
.titulo{
    margin-right: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ion-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}