<!--Este es el inicio del docente, en caso de que lo veas-->

<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenuA()">
         <ion-icon class="menu" slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>



    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenes">
      <img class="center" src="/assets/Duoc.png">
      <img class="left" src="/assets/ScanMe.jpeg">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <p class="ttexto">Abrir Cámara para escanear QR:</p>
    <ion-button class="boton" ion-button-color="primary" block (click)="tomarFoto();">
      Escanear QR
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-card>
<ion-footer>
  <ion-toolbar color="mycolor">
    <div class="textoFooter"><span  class="margenD" style="float:right">Duoc UC</span> <div class="margenI"> © RegistrAPP</div></div>
    <div class="textoFooter"><span  class="margenD" style="float:right">Sede: Maipú</span><div class="margenI">Integrantes:</div></div>
    <div class="textoFooter"><span class="margenD"  style="float:right">Profesora:</span><div class="margenI">Angelo Gonzalez</div></div>
    <div class="textoFooter"><span class="margenD"  style="float:right">Viviana Poblete</span><div class="margenI">Fabian Palma</div></div>
  </ion-toolbar>
</ion-footer>
</ion-content>
