<!--Este es el inicio del docente, en caso de que lo veas-->

<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenuA()">
         <ion-icon class="menu" slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>



    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenes">
      <img class="center" src="/assets/Duoc.png">
      <img class="left" src="/assets/ScanMe.jpeg">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <p class="ttexto">Abrir Cámara para escanear QR:</p>
    <ion-button class="boton" ion-button-color="primary" block (click)="tomarFoto();">
      Escanear QR
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
