
<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu()">
         <ion-icon class="menu" slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenes">
      <img class="center" src="/assets/Duoc.png">
      <img class="left" src="/assets/ScanMe.jpeg">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ttexto">Codigo QR</p>
  <ion-card>
    <img src="/assets/qr.png">
    <p class="texto">Codigo del QR: 9502</p>
    <p class="texto">indique al alumno que escanee este codigo qr, de lo contrario utilize el codigo debajo de este

    </p>
  </ion-card>




</ion-content>