
<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu()">
         <ion-icon class="menu" slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenes">
      <img class="center" src="/assets/Duoc.png">
      <img class="left" src="/assets/ScanMe.jpeg">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ttexto">Codigo QR</p>
  <ion-card>
    <img src="/assets/qr.png">
    <p class="texto">Codigo del QR: 9502</p>
    <p class="texto">indique al alumno que escanee este codigo qr, de lo contrario utilize el codigo debajo de este

    </p>
  </ion-card>



<ion-footer>
  <ion-toolbar color="mycolor">
    <div class="textoFooter"><span  class="margenD" style="float:right">Duoc UC</span> <div class="margenI"> © RegistrAPP</div></div>
    <div class="textoFooter"><span  class="margenD" style="float:right">Sede: Maipú</span><div class="margenI">Integrantes:</div></div>
    <div class="textoFooter"><span class="margenD"  style="float:right">Profesora:</span><div class="margenI">Angelo Gonzalez</div></div>
    <div class="textoFooter"><span class="margenD"  style="float:right">Viviana Poblete</span><div class="margenI">Fabian Palma</div></div>
  </ion-toolbar>
</ion-footer>
</ion-content>