<!--Este es el inicio del docente, en caso de que lo veas-->

<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenuA()">
         <ion-icon class="menu" slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>



    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenDuoc">
      <img class="center" src="/assets/Duoc.png">
    </div>
    <div class="imagenes">
      <img class="left" src="/assets/ScanMe.jpeg"> 
    </div>


  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ttexto">¿Como funciona RegistrApp?</p>
  <p class="texto">Pues RegistrApp Tiene un menú 
    hamburgesa en la esquina izquierda
    de esta pagina, este menú contiene 
    distintas paginas que nos ayuda a 
    cumplir con el funcionamiento de esta
    APK, tales como Mis Clases, Escanear Codigo QR y Cerrar Sesión</p>

    <p class="ttexto">¿Que puedo hacer para Registrar asistencia?</p>
    <p class="texto">Pues para registrar la asistencia en nuestro sistema debes seguir la linea verde para encontrar el menú de Registrar Asistencia...
      Lorem ipsum dolor sit amet consectetur adipiscing, elit aptent curabitur eleifend.</p>
</ion-content>