<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu()">
         <ion-icon slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>



    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenes">
      <img class="center" src="/assets/Duoc.png">
      <img class="left" src="/assets/ScanMe.jpeg">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="tabla">
  <table>
    <tr>
    <td col>Estudiantes:</td>
    <td col>Presente </td>
    <td col>Ausente </td>
    <td col>Justificacion </td>
  </tr>
  <tr>
    <td>Estudiante 1</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td>//nom.est.bbdd</td>
    <td>BBDD</td>
    <td>BBDD</td>
    <td>BBDD</td>
  </tr>
  <!-- <tr>
    <td>Estudiante 3</td>
    <td></td>
    <td>A</td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 4</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 5</td>
    <td></td>
    <td>A</td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 6</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 7</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 8</td>
    <td></td>
    <td>A</td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 9</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 10</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 11</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 12</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 13</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 14</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 15</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Estudiante 16</td>
    <td>P</td>
    <td></td>
    <td></td>
  </tr>
 -->
  </table>
</div>


</ion-content>