ion-card.cardFeriado {
    --background: #c7417b;
    position: relative;
    isolation: isolate;
}
ion-toolbar{
    background-color: #f7d547;
}
ion-content{
    background-color: var(--ion-color-mycolor-shade);
}
.center {
    display: block;
    margin-left: 45px;
    width: 50%;
    height: 37px;
    
  }
.left{
    width: 35px;
}


.titulo{
    margin-left: 25px;
}
ion-content{

    --ion-background-color:#012840;
}
ion-title{
    color: black;
}
.imagenes {
    display: flex;
  }
  
  .imagenes img:first-child {
    margin-right: 10px;
  }
ion-item{
    --color: var(--ion-color-mycolor);
}
.horarios{
    --ion-item-background: #9ac1d9;
}
.ion-text-wrap{
    color: black;
}
ion-list{
    border: #CCDADF;
}
ion-icon{
    color: black;
}
ion-card.cardFeriado {
    --background: #c7417b;
    position: relative;
    isolation: isolate;
}

p,
ion-card-title {
    color: white;

}
