<ion-header>
  <ion-toolbar color="mycolor">
     <ion-buttons slot="start">
       <ion-button (click)="mostrarMenu()">
         <ion-icon slot="start" name="menu-outline"></ion-icon>
        </ion-button>
     </ion-buttons>



    <ion-title class="titulo">RegistrAPP</ion-title>
    <div class="imagenes">
      <img class="center" src="/assets/Duoc.png">
      <img class="left" src="/assets/ScanMe.jpeg">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item class="horarios" href="/codigoqr">
      <ion-thumbnail class="ion-margin-end">
        <img src="/assets/android.png" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap" >Apps. Moviles</ion-label>
      <ion-label class="ion-text-wrap">11:31-13:50</ion-label>
  
    </ion-item>

    <ion-item  class="horarios" href="/codigoqr">
      <ion-thumbnail class="ion-margin-end">
        <img src="/assets/calidad.png" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap" >Calidad de Software</ion-label>
      <ion-label class="ion-text-wrap">14:00-15:30</ion-label>

    </ion-item>

    <ion-item class="horarios" href="/codigoqr">
      <ion-thumbnail class="ion-margin-end">
        <img src="/assets/ingles.png" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap" >Inglés Intermedio</ion-label>
      <ion-label class="ion-text-wrap">16:00-17:20</ion-label>
  
    </ion-item>

    <ion-item class="horarios" href="/codigoqr">
      <ion-thumbnail class="ion-margin-end">
        <img src="/assets/arquitectura.png" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap" >	Arq. de Software</ion-label>
      <ion-label class="ion-text-wrap">17:30-18:50</ion-label>

    </ion-item>
    <ion-item class="horarios" href="/codigoqr">
      <ion-thumbnail class="ion-margin-end">
        <img src="/assets/estadistica.png" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap" >Est. Descriptiva</ion-label>
      <ion-label class="ion-text-wrap">19:00-20:20</ion-label>

    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar color="mycolor">
      <div class="textoFooter"><span  class="margenD" style="float:right">Duoc UC</span> <div class="margenI"> © RegistrAPP</div></div>
      <div class="textoFooter"><span  class="margenD" style="float:right">Sede: Maipú</span><div class="margenI">Integrantes:</div></div>
      <div class="textoFooter"><span class="margenD"  style="float:right">Profesora:</span><div class="margenI">Angelo Gonzalez</div></div>
      <div class="textoFooter"><span class="margenD"  style="float:right">Viviana Poblete</span><div class="margenI">Fabian Palma</div></div>
    </ion-toolbar>
  </ion-footer>

</ion-content>

