img{
    max-width: 35%;
}
.azulito{
    background-color: #f7d547;
}
.sep1{
    padding: 0.3vw;
    border-radius: 90%;
}
.sep{
    padding: 2.5vw;
    border-radius: 90%;
}
.div3{
    height:10px;
}
.celestito{
    background: #9ac1d9;
    
}
.bodycol{
    background-color: #012840;
}
.porque{
    position: relative;
    left: 27%;
}
.porque1{
    position: relative;
    left: 12%;
}
.footcol{
    background-color: #B0E9FC;
}
.ema{
    background-color: #B0E9FC;
}
.rectange5{
    position: absolute;
    width: 340px;
    height: 71px;
    left: 9px;
    top: 193px;
}